package main

import (
	"git.biggo.com/Funmula/mattermost-funmula/server/v8/public/model"
	"git.biggo.com/Funmula/mattermost-funmula/server/v8/public/plugin"
)

type MyPlugin struct {
    plugin.MattermostPlugin
}

func (p *MyPlugin) NotificationWillBePushed(notification *model.PushNotification, userID string) (*model.PushNotification, string) {
    %s
}

func main() {
    plugin.ClientMain(&MyPlugin{})
}
